In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv(r"C:\Users\KIIT\Desktop\projects\TITANIC SUVIVOR-DECISION TREES/train.csv")
data.head(n=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
data.info()
#you can see that only 714 enteries are only present in the age column as some of the ages are nan

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
columns_to_drop=["PassengerId","Name","Ticket","Cabin","Embarked"]

In [5]:
data=data.drop(columns_to_drop,axis=1)

In [6]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["Sex"]=le.fit_transform(data["Sex"])
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [8]:
data.info()
#you can see that only age is having the 714 enteries every other column has 891 enteries so we have to change nan values in age

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int64
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int64(5)
memory usage: 48.8 KB

In [9]:
data=data.fillna(data["Age"].mean())
data.info()
#you can see that now the age is also having the 891 enteries we have replaced the nan values with the mean of the ages present

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int64
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int64(5)
memory usage: 48.8 KB

In [10]:
input_colmns=["Pclass","Sex","Age","SibSp","Parch","Fare"]
output_colmns=["Survived"]
X=data[input_colmns]
Y=data[output_colmns]
print(X.shape,Y.shape)

(891, 6) (891, 1)

In [11]:
def entropy(col):
    counts=np.unique(col,return_counts=True)
    N=float(col.shape[0])
    ent=0.0
    
    for ix in counts[1]:
        p=ix/N
        ent+=(-1.0*p*np.log2(p))
    return ent

In [12]:
def divide_data(x_data,fkey,fval):
    x_right=pd.DataFrame([],columns=x_data.columns)
    x_left=pd.DataFrame([],columns=x_data.columns)
    for ix in range(x_data.shape[0]):
        val=x_data[fkey].loc[ix]
        if val>fval:
            x_right=x_right.append(x_data.loc[[ix]])
        else:
            x_left=x_left.append(x_data.loc[ix])
            
    return x_left,x_right

In [13]:
x_left,x_right=divide_data(data[:10],"Sex",0.5)
print(x_left)
print(x_right)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
1       1.0     1.0  0.0  38.0    1.0    0.0  71.2833
2       1.0     3.0  0.0  26.0    0.0    0.0   7.9250
3       1.0     1.0  0.0  35.0    1.0    0.0  53.1000
8       1.0     3.0  0.0  27.0    0.0    2.0  11.1333
9       1.0     2.0  0.0  14.0    1.0    0.0  30.0708
   Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0       0.0     3.0  1.0  22.000000    1.0    0.0   7.2500
4       0.0     3.0  1.0  35.000000    0.0    0.0   8.0500
5       0.0     3.0  1.0  29.699118    0.0    0.0   8.4583
6       0.0     1.0  1.0  54.000000    0.0    0.0  51.8625
7       0.0     3.0  1.0   2.000000    3.0    1.0  21.0750

In [14]:
def information_gain(x_data,fkey,fval):
    left,right=divide_data(x_data,fkey,fval)
    l=float(left.shape[0])/x_data.shape[0]
    r=float(right.shape[0])/x_data.shape[0]
    
    if left.shape[0]==0 or right.shape[0]==0:
        return -10000000
    i_gain=entropy(x_data.Survived)-(l*entropy(left.Survived)+r*entropy(right.Survived))
    return i_gain

In [15]:
for fx in  X.columns:
    print(fx)
    print(information_gain(data,fx,data[fx].mean()))

Pclass
0.0757936274361
Sex
0.217660106661
Age
0.00115864403817
SibSp
0.0095845418134
Parch
0.0153807544931
Fare
0.042140692839

In [16]:
class DecisionTree:
    
    #Constructor
    def __init__(self,depth=0,max_depth=5):
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.max_depth = max_depth
        self.depth = depth
        self.target = None
        
    def train(self,X_train):
        
        features = ['Pclass','Sex','Age','SibSp', 'Parch', 'Fare']
        info_gains = []
        
        for ix in features:
            i_gain = information_gain(X_train,ix,X_train[ix].mean())
            info_gains.append(i_gain)
            
        self.fkey = features[np.argmax(info_gains)]
        self.fval = X_train[self.fkey].mean()
        print("Making Tree Features is",self.fkey)
         #Split Data
        data_left,data_right = divide_data(X_train,self.fkey,self.fval)
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)
         
        #Truly a left node
        if data_left.shape[0]  == 0 or data_right.shape[0] ==0:
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
        #Stop earyly when depth >=max depth
        if(self.depth>=self.max_depth):
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
        
        #Recursive Case
        self.left = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
        
        #You can set the target at every node
        if X_train.Survived.mean() >= 0.5:
            self.target = "Survive"
        else:
            self.target = "Dead"
        return
    def predict(self,test):
        if test[self.fkey]>self.fval:
            #go to right
            if self.right is None:
                return self.target
            return self.right.predict(test)
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [17]:
d=DecisionTree()
d.train(data)

Making Tree Features is Sex
Making Tree Features is Pclass
Making Tree Features is Pclass
Making Tree Features is Parch
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Parch
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Parch
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is SibSp
Making Tree Features is Fare
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is SibSp
Making Tree Features is Parch
Making Tree Features is Age
Making Tree Features is SibSp
Making Tree Features is Fare
Making Tree Features is Parch
Making Tree Features is Parch
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Parch
Making Tree Features is Pclass
Making Tree Features is Pclass
Making Tree Features is Age
Making Tree Features is SibSp
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is SibSp
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Pclass
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Parch
Making Tree Features is SibSp
Making Tree Features is SibSp
Making Tree Features is Pclass
Making Tree Features is Parch
Making Tree Features is SibSp
Making Tree Features is Parch
Making Tree Features is Age
Making Tree Features is Age

In [18]:
print(d.fkey)
print(d.fval)
print(d.left.fkey)
print(d.right.fkey)

Sex
0.6475869809203143
Pclass
Fare

In [19]:
split = int(0.7*data.shape[0])
train_data = data[:split]
test_data = data[split:]
test_data = test_data.reset_index(drop=True)

In [20]:
print(train_data)

     Survived  Pclass  Sex        Age  SibSp  Parch      Fare
0           0       3    1  22.000000      1      0    7.2500
1           1       1    0  38.000000      1      0   71.2833
2           1       3    0  26.000000      0      0    7.9250
3           1       1    0  35.000000      1      0   53.1000
4           0       3    1  35.000000      0      0    8.0500
5           0       3    1  29.699118      0      0    8.4583
6           0       1    1  54.000000      0      0   51.8625
7           0       3    1   2.000000      3      1   21.0750
8           1       3    0  27.000000      0      2   11.1333
9           1       2    0  14.000000      1      0   30.0708
10          1       3    0   4.000000      1      1   16.7000
11          1       1    0  58.000000      0      0   26.5500
12          0       3    1  20.000000      0      0    8.0500
13          0       3    1  39.000000      1      5   31.2750
14          0       3    0  14.000000      0      0    7.8542
15          1       2    0  55.000000      0      0   16.0000
16          0       3    1   2.000000      4      1   29.1250
17          1       2    1  29.699118      0      0   13.0000
18          0       3    0  31.000000      1      0   18.0000
19          1       3    0  29.699118      0      0    7.2250
20          0       2    1  35.000000      0      0   26.0000
21          1       2    1  34.000000      0      0   13.0000
22          1       3    0  15.000000      0      0    8.0292
23          1       1    1  28.000000      0      0   35.5000
24          0       3    0   8.000000      3      1   21.0750
25          1       3    0  38.000000      1      5   31.3875
26          0       3    1  29.699118      0      0    7.2250
27          0       1    1  19.000000      3      2  263.0000
28          1       3    0  29.699118      0      0    7.8792
29          0       3    1  29.699118      0      0    7.8958
..        ...     ...  ...        ...    ...    ...       ...
593         0       3    0  29.699118      0      2    7.7500
594         0       2    1  37.000000      1      0   26.0000
595         0       3    1  36.000000      1      1   24.1500
596         1       2    0  29.699118      0      0   33.0000
597         0       3    1  49.000000      0      0    0.0000
598         0       3    1  29.699118      0      0    7.2250
599         1       1    1  49.000000      1      0   56.9292
600         1       2    0  24.000000      2      1   27.0000
601         0       3    1  29.699118      0      0    7.8958
602         0       1    1  29.699118      0      0   42.4000
603         0       3    1  44.000000      0      0    8.0500
604         1       1    1  35.000000      0      0   26.5500
605         0       3    1  36.000000      1      0   15.5500
606         0       3    1  30.000000      0      0    7.8958
607         1       1    1  27.000000      0      0   30.5000
608         1       2    0  22.000000      1      2   41.5792
609         1       1    0  40.000000      0      0  153.4625
610         0       3    0  39.000000      1      5   31.2750
611         0       3    1  29.699118      0      0    7.0500
612         1       3    0  29.699118      1      0   15.5000
613         0       3    1  29.699118      0      0    7.7500
614         0       3    1  35.000000      0      0    8.0500
615         1       2    0  24.000000      1      2   65.0000
616         0       3    1  34.000000      1      1   14.4000
617         0       3    0  26.000000      1      0   16.1000
618         1       2    0   4.000000      2      1   39.0000
619         0       2    1  26.000000      0      0   10.5000
620         0       3    1  27.000000      1      0   14.4542
621         1       1    1  42.000000      1      0   52.5542
622         1       3    1  20.000000      1      1   15.7417

[623 rows x 7 columns]

In [21]:
print(test_data)

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0           0       3    1  21.000000      0      0   7.8542
1           0       3    1  21.000000      0      0  16.1000
2           0       1    1  61.000000      0      0  32.3208
3           0       2    1  57.000000      0      0  12.3500
4           1       1    0  21.000000      0      0  77.9583
5           0       3    1  26.000000      0      0   7.8958
6           0       3    1  29.699118      0      0   7.7333
7           1       1    1  80.000000      0      0  30.0000
8           0       3    1  51.000000      0      0   7.0542
9           1       1    1  32.000000      0      0  30.5000
10          0       1    1  29.699118      0      0   0.0000
11          0       3    0   9.000000      3      2  27.9000
12          1       2    0  28.000000      0      0  13.0000
13          0       3    1  32.000000      0      0   7.9250
14          0       2    1  31.000000      1      1  26.2500
15          0       3    0  41.000000      0      5  39.6875
16          0       3    1  29.699118      1      0  16.1000
17          0       3    1  20.000000      0      0   7.8542
18          1       1    0  24.000000      0      0  69.3000
19          0       3    0   2.000000      3      2  27.9000
20          1       3    1  29.699118      0      0  56.4958
21          1       3    0   0.750000      2      1  19.2583
22          1       1    1  48.000000      1      0  76.7292
23          0       3    1  19.000000      0      0   7.8958
24          1       1    1  56.000000      0      0  35.5000
25          0       3    1  29.699118      0      0   7.5500
26          1       3    0  23.000000      0      0   7.5500
27          0       3    1  29.699118      0      0   7.8958
28          1       2    0  18.000000      0      1  23.0000
29          0       3    1  21.000000      0      0   8.4333
..        ...     ...  ...        ...    ...    ...      ...
238         0       2    1  21.000000      1      0  11.5000
239         1       1    0  48.000000      0      0  25.9292
240         0       3    0  29.699118      8      2  69.5500
241         0       2    1  24.000000      0      0  13.0000
242         1       2    0  42.000000      0      0  13.0000
243         1       2    0  27.000000      1      0  13.8583
244         0       1    1  31.000000      0      0  50.4958
245         0       3    1  29.699118      0      0   9.5000
246         1       3    1   4.000000      1      1  11.1333
247         0       3    1  26.000000      0      0   7.8958
248         1       1    0  47.000000      1      1  52.5542
249         0       1    1  33.000000      0      0   5.0000
250         0       3    1  47.000000      0      0   9.0000
251         1       2    0  28.000000      1      0  24.0000
252         1       3    0  15.000000      0      0   7.2250
253         0       3    1  20.000000      0      0   9.8458
254         0       3    1  19.000000      0      0   7.8958
255         0       3    1  29.699118      0      0   7.8958
256         1       1    0  56.000000      0      1  83.1583
257         1       2    0  25.000000      0      1  26.0000
258         0       3    1  33.000000      0      0   7.8958
259         0       3    0  22.000000      0      0  10.5167
260         0       2    1  28.000000      0      0  10.5000
261         0       3    1  25.000000      0      0   7.0500
262         0       3    0  39.000000      0      5  29.1250
263         0       2    1  27.000000      0      0  13.0000
264         1       1    0  19.000000      0      0  30.0000
265         0       3    0  29.699118      1      2  23.4500
266         1       1    1  26.000000      0      0  30.0000
267         0       3    1  32.000000      0      0   7.7500

[268 rows x 7 columns]

In [22]:
print(train_data.shape,test_data.shape)

(623, 7) (268, 7)

In [23]:
decision = DecisionTree()

In [24]:
decision.train(train_data)

Making Tree Features is Sex
Making Tree Features is Pclass
Making Tree Features is Age
Making Tree Features is SibSp
Making Tree Features is Pclass
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is SibSp
Making Tree Features is Parch
Making Tree Features is Pclass
Making Tree Features is SibSp
Making Tree Features is Fare
Making Tree Features is Parch
Making Tree Features is Age
Making Tree Features is Pclass
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Parch
Making Tree Features is SibSp
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Parch
Making Tree Features is Fare
Making Tree Features is Fare
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Parch
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Fare
Making Tree Features is SibSp
Making Tree Features is Fare
Making Tree Features is Age
Making Tree Features is Fare
Making Tree Features is Pclass
Making Tree Features is SibSp
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Pclass
Making Tree Features is Age
Making Tree Features is SibSp
Making Tree Features is Fare
Making Tree Features is SibSp
Making Tree Features is Age
Making Tree Features is Parch
Making Tree Features is SibSp
Making Tree Features is SibSp
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Age
Making Tree Features is Parch
Making Tree Features is Age
Making Tree Features is Age

In [25]:
y_pred = []
for ix in range(test_data.shape[0]):
    y_pred.append(decision.predict(test_data.loc[ix]))

In [27]:
y_pred

['Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead']

In [29]:
actual_y=test_data[output_colmns]

In [30]:
actual_y

     Survived
0           0
1           0
2           0
3           0
4           1
5           0
6           0
7           1
8           0
9           1
10          0
11          0
12          1
13          0
14          0
15          0
16          0
17          0
18          1
19          0
20          1
21          1
22          1
23          0
24          1
25          0
26          1
27          0
28          1
29          0
..        ...
238         0
239         1
240         0
241         0
242         1
243         1
244         0
245         0
246         1
247         0
248         1
249         0
250         0
251         1
252         1
253         0
254         0
255         0
256         1
257         1
258         0
259         0
260         0
261         0
262         0
263         0
264         1
265         0
266         1
267         0

[268 rows x 1 columns]

In [31]:
le = LabelEncoder()
y_pred = le.fit_transform(y_pred)

In [32]:
y_pred

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [33]:
y_pred = np.array(y_pred).reshape((-1,1))
print(y_pred.shape)

(268, 1)

In [35]:
acc = np.sum(y_pred==actual_y)/y_pred.shape[0]

In [36]:
acc = np.sum(np.array(y_pred)==np.array(actual_y))/y_pred.shape[0]

In [37]:
print(acc)

0.817164179104

In [40]:
#y_pred,y_actual,train,testdata
data_train=pd.DataFrame(train_data)
print(data_train )
data_train.to_csv("train_data.csv",index_label="Id")

     Survived  Pclass  Sex        Age  SibSp  Parch      Fare
0           0       3    1  22.000000      1      0    7.2500
1           1       1    0  38.000000      1      0   71.2833
2           1       3    0  26.000000      0      0    7.9250
3           1       1    0  35.000000      1      0   53.1000
4           0       3    1  35.000000      0      0    8.0500
5           0       3    1  29.699118      0      0    8.4583
6           0       1    1  54.000000      0      0   51.8625
7           0       3    1   2.000000      3      1   21.0750
8           1       3    0  27.000000      0      2   11.1333
9           1       2    0  14.000000      1      0   30.0708
10          1       3    0   4.000000      1      1   16.7000
11          1       1    0  58.000000      0      0   26.5500
12          0       3    1  20.000000      0      0    8.0500
13          0       3    1  39.000000      1      5   31.2750
14          0       3    0  14.000000      0      0    7.8542
15          1       2    0  55.000000      0      0   16.0000
16          0       3    1   2.000000      4      1   29.1250
17          1       2    1  29.699118      0      0   13.0000
18          0       3    0  31.000000      1      0   18.0000
19          1       3    0  29.699118      0      0    7.2250
20          0       2    1  35.000000      0      0   26.0000
21          1       2    1  34.000000      0      0   13.0000
22          1       3    0  15.000000      0      0    8.0292
23          1       1    1  28.000000      0      0   35.5000
24          0       3    0   8.000000      3      1   21.0750
25          1       3    0  38.000000      1      5   31.3875
26          0       3    1  29.699118      0      0    7.2250
27          0       1    1  19.000000      3      2  263.0000
28          1       3    0  29.699118      0      0    7.8792
29          0       3    1  29.699118      0      0    7.8958
..        ...     ...  ...        ...    ...    ...       ...
593         0       3    0  29.699118      0      2    7.7500
594         0       2    1  37.000000      1      0   26.0000
595         0       3    1  36.000000      1      1   24.1500
596         1       2    0  29.699118      0      0   33.0000
597         0       3    1  49.000000      0      0    0.0000
598         0       3    1  29.699118      0      0    7.2250
599         1       1    1  49.000000      1      0   56.9292
600         1       2    0  24.000000      2      1   27.0000
601         0       3    1  29.699118      0      0    7.8958
602         0       1    1  29.699118      0      0   42.4000
603         0       3    1  44.000000      0      0    8.0500
604         1       1    1  35.000000      0      0   26.5500
605         0       3    1  36.000000      1      0   15.5500
606         0       3    1  30.000000      0      0    7.8958
607         1       1    1  27.000000      0      0   30.5000
608         1       2    0  22.000000      1      2   41.5792
609         1       1    0  40.000000      0      0  153.4625
610         0       3    0  39.000000      1      5   31.2750
611         0       3    1  29.699118      0      0    7.0500
612         1       3    0  29.699118      1      0   15.5000
613         0       3    1  29.699118      0      0    7.7500
614         0       3    1  35.000000      0      0    8.0500
615         1       2    0  24.000000      1      2   65.0000
616         0       3    1  34.000000      1      1   14.4000
617         0       3    0  26.000000      1      0   16.1000
618         1       2    0   4.000000      2      1   39.0000
619         0       2    1  26.000000      0      0   10.5000
620         0       3    1  27.000000      1      0   14.4542
621         1       1    1  42.000000      1      0   52.5542
622         1       3    1  20.000000      1      1   15.7417

[623 rows x 7 columns]

In [43]:
test_data=pd.DataFrame(test_data )
test_data.to_csv("test_data.csv",index_label="Id")

In [44]:
y_actual=pd.DataFrame(actual_y)
y_actual.to_csv("y_actual.csv",index_label="Id")

In [45]:
y_pred=pd.DataFrame(y_pred)
y_pred.to_csv("y_pred.csv",index_label="Id")